body {
    background-color: cadetblue;
    color: rgb(70, 69, 69);
    font-family: 'Lucida Sans';
    text-align: center;
}

#button {
    background-color: rgb(70, 69, 69);
    color:antiquewhite;
    font-weight: lighter;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3;
}

#clack:button {
    background-color: rgb(71, 57, 57);
    color: rgb(143, 125, 101);
}
