body {
    background-color: cadetblue;
    color: rgb(70, 69, 69);
    font-family: 'Lucida Sans';
    text-align: center;
}

#button {
    background-color: rgb(70, 69, 69);
    color:antiquewhite;
    font-weight: lighter;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3;
}

#button:hover {
    background-color: rgb(77, 64, 64);
    color: rgb(141, 128, 113);
}

#quote-display {
    transition: 250s,
}

#words {
    border-radius: 4px;
    background-color: rgb(71, 57, 57);
    color:antiquewhite;
}

#more {
        background-color: rgb(70, 69, 69);
        color:antiquewhite;
        font-weight: lighter;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3;
    }
    
    #more:hover {
        background-color: rgb(77, 64, 64);
        color: rgb(141, 128, 113);
    }

    #roll {
        height: 230px;
        width: 230px;
        padding: 10px;
        border: solid white, 4px;
        border-radius: 20px;
        opacity: .8;
    }

    #roll:hover {
        transform: scaleX(-1);
    }