body {
    background-color: gray;
    font-family: Cambria;
}

h1 {
    background-color:dimgray;
    color: rgb(74, 190, 152);
    text-align: center;
    text-decoration: wavy;
}

h2 {
    background-color:dimgray;
    color: rgb(78, 226, 226);
    text-align: center;
    text-decoration: dotted;
}