body {
    background-color: gray;
    font-family: Cambria;
}

h1 {
    background-color:dimgray;
    color: rgb(74, 190, 152);
    text-align: center;
    text-decoration: wavy;
}

h2 {
    background-color:dimgray;
    color: rgb(78, 226, 226);
    text-align: center;
    text-decoration: dotted;
}

.b1 {
    text-align: center;
    display: block;
    width: 205px;
    height: 100px;
    margin: 20px;
    padding: 5px;
    position: middle;
    border: 6px solid black;
    border-radius: 60px;
    background-color: dimgray;
    color: rgb(81, 170, 141);
}

.container {
    position: relative;
    width: 350px;
    height: 300px;
    background-color: grey;
    margin: 20px auto;
}

.b2{
    text-align: center;
    width: 205px;
    height: 212px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 6px solid black;
    border-radius: 60px;
    background-color: dimgray;
    color:  rgb(81, 170, 141);;
}

