body {
    background-color: gray;
    font-family: Cambria;
}

h1 {
    background-color:dimgray;
    color: rgb(74, 190, 152);
    text-align: center;
    text-decoration: wavy;
}

h2 {
    background-color:dimgray;
    color: rgb(78, 226, 226);
    text-align: center;
    text-decoration: dotted;
}

.b1 {
    text-align: center;
    width: 205px;
    height: 100px;
    margin: 20px;
    padding: 5px;
    border: 6px solid black;
    background-color: dimgray;

}

.block {
    text-align: center;
    width: 205px;
    height: 212px;
    margin-top: 20px;
    padding: 10px;

    border: 6px solid black;
    background-color: dimgray;

}